<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wlg.ratewer" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".Activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.StartActivity" />
        </activity>
        <activity
            android:name=".Activities.OptionsActivity"
            android:label="@string/title_activity_options"
            android:parentActivityName=".Activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.StartActivity" />
        </activity>
        <activity
            android:name=".Activities.StatisticActivity"
            android:label="@string/title_activity_statistic" >
        </activity>
        <activity
            android:name=".Activities.activity_board_question"
            android:label="@string/title_activity_activity_board_question"
            android:parentActivityName=".Activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wlg.ratewer.Activities.StartActivity" />
        </activity>
        <activity
            android:name=".Activities.StartNewGameActivity"
            android:label="@string/title_activity_start_new_game"
            android:parentActivityName=".Activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wlg.ratewer.Activities.StartActivity" />
        </activity>
        <activity
            android:name=".Activities.EndGameActivity"
            android:label="@string/title_activity_end_game"
            android:parentActivityName=".Activities.StartNewGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wlg.ratewer.Activities.StartNewGameActivity" />
        </activity>
    </application>

</manifest>
